
<% if session[:user]%>

<div class="login">

  <div>
  <h2 class="web_title">Everyday is Birthday</h2>
<% if current_user.remained_days == -1 %>

  <h2 class="log_title">Happy Birthday <%= User.find(session[:user]).mail%>さん</h2>

  <% else %>
  <h2 class="log_title">ようこそ<%= User.find(session[:user]).mail%>さん</h2>

  <% end %>
  </div>
  <div class="log_links">
  <% if current_user.remained_days == -1 %>
  <a class="reload" href="/delete">友達更新</a>
  <% end %>
  <a class=log_link  href="/qr">LineBot </a>
  <a class=log_link  href="/new">友達登録</a>
<a class=log_link href="/signout">サインアウト</a>
</div>
<table>
<thead class="theme">
<div class="ths">
　<tr>
  <th>友達</th>
　<th>誕生日</th>
　<th>もらった?</th>
　<th>プレゼント</th>
  <th>あと何日?</th>
  </tr>
  </div>
</thead>

  <% @friends.each do |friend| %>

    <td><%= friend.friend_name %></td>
    <td><%= friend.friend_birthday%></td>
    <td>
  <div style="
  <% if friend.given %>
    background-color:#EB5E55;
  <% else %>
    background-color:#FEEAFA;

  <% end %>

  margin: 0 auto;
  border-radius :100px;
  width :15px;
  height :15px;
  display:block;

  "></div>
    </td>

    <td><%= friend.present %></td>

    <td><%= friend.friend_days %></td>
  </tr>

  <% end %>
</table>

<% else %>

  <div class="script">
  <div class=mobile_image>
  <img class="cake" src="/image/cake.png" >
  </div>
  <div class="titles">
  <h2 class="title">Everyday is Birthday</h2>
  </div>
  <div class=links>
  <a class="link" href="/signin">Signin!</a> <a class="link" href="/signup">Signup!</a><br>
  </div>
  </div>
<div class=image>
  <img class="cake" src="/image/cake.png" >
  </div>

</div>
<% end %>
